.top-link {
  position: absolute;

  width: $touchTarget;
  height: $touchTarget;

  background: $black;
  opacity: 0.25;

  color: $white;
  font-size: 1em;
  line-height: $touchTarget;
  text-align: center;


  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -ms-transition: opacity 0.25s ease-in;
  -o-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;

  &:hover {
    opacity: 1;
  }

  &.hidden {
    opacity: 0;
  }
}