---
layout: default
title: "'Allo, 'Allo!"
---



<section id="portfolio" class="wrapper">
    {% for post in site.categories.portfolio limit: 4 %}
         <div class="portfolio-item-wrapper"><img src="" alt="{{ post.title }}"/></div>
    {% endfor %}
</section>


<div class="wrapper">
    <section id="blog" class="full-width">
        <header>
            <a href="./blog/">
                <h2 class="section-title">the blog</h2>
            </a>
        </header>
        {% for post in site.posts limit: 1 %}
            {% unless post.categories == "portfolio" %}
                <article class="post home-preview">
                    <aside class="post-meta">
                        <span class="post-meta-date">{{ post.date | date: "%d.%m.%y" }}</span>
                        <ul class="post-meta-categories">
                            {% for category in post.categories %}
                                <li class="pill red category">{{ category }}
                            {% endfor %}
                        </ul>
                    </aside>
                    <div class="post-stuff">
                        <a href=".{{ post.url }}"><h2 class="post-title">{{ post.title }}</h2></a>
                        <p>{{ post.content | strip_html | truncatewords:75}}</p>
                    </div>

                    <a class="read-more" href=".{{ post.url }}">read more <i class="icon-double-angle-right"></i></a>
                </article>
            {% endunless %}
        {% endfor %}
    </section>
</div>

<div class="wrapper">
    <section id="resume" class="resume full-width">
        <header>
            <h2 class="section-title">resume</h2>
        </header>

        <aside class="resume-cap top">
            Today
        </aside>


        <article class="resume-entry">
            <header class="resume-job-stuff">
                <hgroup>
                    <h2 class="resume-position">Front-end developer</h2>
                    <h3 class="resume-company">Avansera Oy</h3>
                </hgroup>
            </header>
            <aside class="resume-meta-stuff">
                <span class="resume-timeframe">February 2013 &ndash; Present</span>
                <span class="resume-location">Helsinki, Finland</span>
            </aside>
            <section class="resume-content">
                <p>
                    Primarily front-end development for the Ostosnero web-app,
                    with some work in back-end and database development as well as UI and web design.
                </p>
            </section>
        </article>
        <article class="resume-entry">
            <header class="resume-job-stuff">
                <hgroup>
                    <h2 class="resume-position">Front-end developer</h2>
                    <h3 class="resume-company">Avansera Oy</h3>
                </hgroup>
            </header>
            <aside class="resume-meta-stuff">
                <span class="resume-timeframe">February 2013 &ndash; Present</span>
                <span class="resume-location">Helsinki, Finland</span>
            </aside>
            <section class="resume-content">
                <p>
                    Primarily front-end development for the Ostosnero web-app,
                    with some work in back-end and database development as well as UI and web design.
                </p>
            </section>
        </article>
        <article class="resume-entry">
            <header class="resume-job-stuff">
                <hgroup>
                    <h2 class="resume-position">Front-end developer</h2>
                    <h3 class="resume-company">Avansera Oy</h3>
                </hgroup>
            </header>
            <aside class="resume-meta-stuff">
                <span class="resume-timeframe">February 2013 &ndash; Present</span>
                <span class="resume-location">Helsinki, Finland</span>
            </aside>
            <section class="resume-content">
                <p>
                    Primarily front-end development for the Ostosnero web-app,
                    with some work in back-end and database development as well as UI and web design.
                </p>
            </section>
        </article>


        <footer class="resume-cap bottom">
            02.08.1991
        </footer>
    </section>
</div>

<div class="wrapper">

    <section id="contact" class="contact" class="full-width">
        <header>
            <h2 class="section-title">contact me</h2>
        </header>

        <form action="post_message.php" method="post" id="contact-form">
            <div class="form-input contact-form-field">
                <label for="contact-name" class="form-input-label contact-form-field-label">name:</label>
                <input type="text" id="contact-name" class="input contact-form-field-input" name="name" autocomplete="false" tabindex="1" placeholder="e.g. Bill Nye">
            </div>

            <div class="form-input contact-form-field">
                <label for="contact-email" class="form-input-label contact-form-field-label">email:</label>
                <input type="email" id="contact-email" class="input contact-form-field-input" name="email" autocomplete="false" tabindex="2" required placeholder="bill.nye@scienceguy.com">
            </div>

            <div class="form-input contact-form-field">
                <label for="contact-number" class="form-input-label contact-form-field-label">contact number:</label>
                <input id="contact-number" class="input contact-form-field-input" type="tel" name="number" tabindex="3" placeholder="Don't forget the country code!">
            </div>

            <textarea name="message" class="contact-form-message" id="contact-mesasge" cols="30" rows="10"></textarea>

            <button type="submit" class="btn block cta contact-form-submit">Send it.<i class="icon-double-angle-right"></i></button>

        </form>

    </section>
</div>

<footer class="full-width site-footer">
    <div class="wrapper">
        <aside class="legal">Copyright<sup>&copy;</sup> 2013 &mdash; Zaccary Price <small>wildtangomedia</small></aside>
    </div>
</footer>
