.site-head {
	text-align: center;
	margin-top: 3.2rem;
	hgroup {
		margin: 0 0 0;
	}
}

.avatar {
	width: 73px;
	height: 73px;

	margin: 3.2rem auto 0;
	border: 5px solid $lightGrey;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.site-title {
	position: relative;
	margin: 3.2rem 0 0;

	color: $red;
	font-size: 3.2em;
	line-height: 1;
	font-weight: 400;
	text-transform: uppercase;
}

.site-sub-title {
	margin: 0;

	font-size: 1.3125em;
	font-weight: 600;
	color: $muted;
	text-transform: capitalize;
}

.about-content {
	color: $muted;
	max-width: 33em;
	margin: 3.2rem auto 0;

}

.header-freelance-info {

	margin: 3.2rem 0 0;

	.header-freelance-message {
		display: block;
		margin: 3.2rem 0 0;
	}

	.hire-button {
		margin: 3.2rem 0 0;
	}

}

.social-links {
	margin: 3.2rem 0 0;

	.social-link {
		float: left;
		width: 50%;
		font-size: 2em;
		color: $muted;

		&:hover {
			font-size: 2em;
		}
	}

}

@media screen and (min-width: 568px) and (min-height: 568px) {
//body:before {
//  content: "tablet style";
//}

	.site-sub-title {
		margin: 3.2rem 0 0;
	}

	.about-content {
		margin: 6.4rem auto 0;
	}

	.header-freelance-info {
		//margin: 6.4rem 0 0;
	}

	.social-links {
		width: auto;
		margin: 3.2rem auto 0;

		.social-link {
			width: auto;
			float: none;
		}
	}

}
