
<footer class="full-width site-footer">
    <div class="wrapper">
        <aside class="footer-social-links">
            <a class="footer-social-link" href="#"><i class="icon-twitter"></i></a>
            <a class="footer-social-link" href="#"><i class="icon-linkedin"></i></a>
            <a class="footer-social-link" href="#"><i class="icon-dribbble"></i></a>
        </aside>
        <aside class="legal">Copyright<sup>&copy;</sup> 2013 &mdash; Zaccary Price <small>wildtangomedia</small></aside>
    </div>
</footer>