<nav class="full-width site-nav">
    <div class="wrapper">

        <div class="tango-logo-wrapper">
            <div class="tango-logo"></div>
        </div>

        <div class="site-nav-links-wrapper">
            <a class="site-nav-link" href="/#portfolio">portfolio</a>
            <a class="site-nav-link" href="/blog/">blog</a>
            <a class="site-nav-link" href="#resume">resume</a>
            <a class="site-nav-link" href="#contact">contact</a>
        </div>
    </div>
</nav>

<a class="mobile-only nav-open" href="#"><i class="icon-reorder"></i></a>