.resume {
  margin: 0 0 12.8rem;
}
.resume-cap {
  position: relative;

  float: left;
  width: 100%;
  font-size: 0.8em;
  color: $green;
  text-align: center;

  &.top
  {
    margin: 0 0 6.4rem;
    &:before {
      content: "";
      position: absolute;
      height: 100%;
      background: $green;



      bottom: -6.4rem;
      height: 4.4rem;
      left: 50%;
      margin: 0 0 0 -2px;
      opacity: 0.25;
      width: 4px;
    }
    &:after {
       content: "";

       position: absolute;
       bottom: -2rem;
       left: 50%;

       margin: 0 0 0 -0.5em;

       width: 1em;
       height: 1em;

       background: $green;

       opacity: 0.25;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       border-radius: 50%;
     }
  }

  &.bottom {
    margin: 1.6em 0 0;
    &:after {
      content: "";

      position: absolute;
      top: -2.1rem;
      left: 50%;

      margin: 0 0 0 -0.5em;

      width: 1em;
      height: 1em;

      background: $green;

      opacity: 0.25;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }
}

.resume-entry {
  position: relative;
  //float: left;
  //width: 100%;
  margin: 0 0 6.4rem;

  text-align: center;

  &:after {
    content: "";
    position: absolute;
    height: 100%;
    background: $green;


    bottom: -6.4rem;
    height: 6.4rem;
    left: 50%;
    margin: 0 0 0 -2px;
    opacity: 0.25;
    width: 4px;
  }
}

.resume-job-stuff {
  margin: 0 0 0.5em;
}

.resume-position {
  font-size: 1.25em;
  font-weight: 700;
  color: $green;
  &:first-letter {
    text-transform: capitalize;
  }
}

.resume-company {
  font-size: 1em;
  font-weight: 700;

}

.resume-timeframe {
  display: block;
  font-size: 1.25em;
  color: $muted;
}

.resume-location {
  display: block;
  color: $muted;
}

