html {
  font-size: 10px;
}

body {
  background: $offWhite;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.full-width {
  float: left;
  width: 100%;
  //margin: 0 0 12.8rem;


  &+.full-width {
    margin: 6.4rem 0 0;
  }
  &.site-footer {
    margin: 0;
  }
}

@media screen and (min-width: 568px) {

  .full-width {

    &+.full-width {
      margin: 12.8rem 0 0;
    }
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 12px;
  }
}
